## Excercise 1

In [2]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [3]:
from sklearn.datasets import load_boston

In [7]:
boston = load_boston()

In [8]:
data = boston.data

In [9]:
target = boston.target

In [10]:
feature_names = boston.feature_names

In [11]:
x = pd.DataFrame(data, columns=feature_names)

In [12]:
y = pd.DataFrame(target, columns=['price'])

In [5]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [15]:
lr.fit(x_train, y_train)

LinearRegression()

In [21]:
y_pred_lr = lr.predict(x_test)
check_test_lr = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_lr": y_pred_lr.flatten()})

check_test_lr.head()

     y_test  y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [23]:
from sklearn.metrics import mean_squared_error

mean_squared_error_lr = mean_squared_error(check_test_lr["y_pred_lr"], check_test_lr["y_test"])
print(mean_squared_error_lr)

21.51744423117709

## Excercise 2

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [27]:
clf.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [28]:
y_pred_clf = clf.predict(x_test)
check_test_clf = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     y_test  y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [29]:
mean_squared_error_clf = mean_squared_error(check_test_clf["y_pred_clf"], check_test_clf["y_test"])
print(mean_squared_error_clf)

9.334548946165196

In [30]:
print(mean_squared_error_lr, mean_squared_error_clf)

21.51744423117709 9.334548946165196

Случайный лес дает более точный результат предсказания, нежели линейная регрессия

## Excercise 3

In [31]:
print(clf.feature_importances_)

[0.03167574 0.00154252 0.00713813 0.00123624 0.01426897 0.40268179
 0.01429864 0.06397257 0.00528122 0.01152493 0.01808108 0.01245085
 0.41584732]

In [33]:
feature_importance = pd.DataFrame({'name':x.columns, 
                                   'feature_importance':clf.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
feature_importance

    feature_importance     name
0             0.031676     CRIM
1             0.001543       ZN
2             0.007138    INDUS
3             0.001236     CHAS
4             0.014269      NOX
5             0.402682       RM
6             0.014299      AGE
7             0.063973      DIS
8             0.005281      RAD
9             0.011525      TAX
10            0.018081  PTRATIO
11            0.012451        B
12            0.415847    LSTAT

In [34]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
12            0.415847  LSTAT
5             0.402682     RM

Признаки LSTAT и RM имеют наибольшую значимость